/*https://docs.oracle.com/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html*/

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #636363;
}


/* NIGHT MODE SPECIFIC ######################################################################### */

#playmusicbox {
    -fx-background-color: #4f4f4f;
}

.scroll-pane {
    -fx-border-color: #636363;
    -fx-background-color: #636363;
}

.v-box {
    -fx-background-color: #636363;
}

.h-box {
    -fx-background-color: #636363;
}

.anchor-pane {
    -fx-background-color: #636363;
}

.tab-pane {
    -fx-background-color: #636363;
}

.scroll-pane {
    -fx-background-color: #636363;
}

.viewport {
    -fx-background-color: #636363;
}

#searchbar_song {
    -fx-background-color: #686868;
    -fx-border-color: #636363;
}

#inner_header {
    -fx-background-color: #555555;
}

#inner_toolbar {
    -fx-background-color: #555555;
}

#btn_noborpa:hover {
    -fx-background-color: #a89c25;
}

#btn_exit:hover {
    -fx-background-color: #a80000;
}

#btn_night:hover {
    -fx-background-color: #7b00ff;
}

/* NIGHT MODE SPECIFIC ######################################################################### */


/*score rating UNSUSED! */
#gray-rating {
    -fx-text-fill: #666659;
}

#green-rating {
    -fx-text-fill: #1eff00;
}

#blue-rating {
    -fx-text-fill: #0070ff;
}

#purple-rating {
    -fx-text-fill: #a330c9;
}

#orange-rating {
    -fx-text-fill: #ff8000;
}

/*score rating*/


.tag-bar {
    /*  -fx-border-color: rgba(0, 0, 0, 0.4);*/
}

.tag-bar .tag {
    -fx-background-color: #b9bf40;
}

.tag-bar .tag .button {
    -fx-background-color: transparent;
}

#label-length {
    -fx-text-fill: #bababa;
}

#current_song {
    -fx-text-fill: #373737;
    /*-fx-background-color: #cbcbcb;*/
    -fx-background-color: linear-gradient(to right, rgb(184, 191, 123), #636363);
}

#rating-separator {
    -fx-text-fill: #d4d4d4;
}

#rating-label {
    -fx-text-fill: #d4d4d4;
}

#quickstats_label_songs {
    -fx-text-fill: #d8d8d8;
}

#quickstats_label_songs_count {
    -fx-text-fill: #d8d8d8;
}

#import_node_row {
    -fx-background-color: rgba(177, 238, 178, 0.44);
}

#song_node_label_length {
    -fx-text-fill: rgba(255, 140, 0, 0.42);
}

#song_node_label_songname {
    -fx-text-fill: #b0b0b0;
}

#song_node_label_artist {
    -fx-text-fill: rgb(186, 136, 204);
}


.progress-bar {
    /*-fx-background-color: yellow;*/
}

.progress-bar .track {
    -fx-background-color: #636363;
    -fx-border-color: #7b7b7b;
}

.progress-bar .bar {
    -fx-background-color: rgba(191, 64, 121, 0.64);
    /*-fx-background-color: grey;*/
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #cac281, #d19138);
}

.slider .thumb {
    -fx-background-color: #373737;
}

.button {
    -fx-background-color: #373737;
    -fx-text-fill: #b9b9b9;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #636363;
    -fx-border-color: transparent;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;

}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #878787;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #bebebe;
}

.tab-pane .tab {
    -fx-background-color: #4e4e4e;
}

.tab-pane .tab:selected {
    -fx-background-color: #3d3d3d;
}

.tab .tab-label {
    -fx-text-fill: #828282;
}

.tab:selected .tab-label {
    -fx-text-fill: #a1a1a1;
}
