/*https://docs.oracle.com/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html*/

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /* -fx-background-color: #b3b3b3;*/
}

body {
    /*background-color: #69b8f9;*/
}

.tag-bar {
    /*  -fx-border-color: rgba(0, 0, 0, 0.4);*/
}

.tag-bar .tag {
    -fx-background-color: #b9bf40;
}

.tag-bar .tag .button {
    -fx-background-color: transparent;
}

#label-length {
    -fx-text-fill: #636363;
}

#current_song {
    -fx-text-fill: #282828;
    /*-fx-background-color: #cbcbcb;*/
    -fx-background-color: linear-gradient(to right, #b9bf40, rgb(243, 243, 243));
}

#rating-label {
    -fx-text-fill: #282828;
}

#quickstats_label_songs {
    -fx-text-fill: #5d5d5d;
}

#quickstats_label_songs_count {
    -fx-text-fill: #444444;
}

#import_node_row {
    -fx-background-color: rgba(177, 238, 178, 0.44);
}

#song_node_label_length {
    -fx-text-fill: #FF8C00;
}

#song_node_label_songname {
    -fx-text-fill: #000000;
}

#song_node_label_artist {
    -fx-text-fill: #9932CC;
}


.progress-bar {
    /*-fx-background-color: yellow;*/
}

.progress-bar .track {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: darkgray;
}

.progress-bar .bar {
    -fx-background-color: rgb(191, 64, 121);
    /*-fx-background-color: grey;*/
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #cac281, #d19138);
}

.slider .thumb {
    -fx-background-color: #636363;
}

.button {
    -fx-background-color: #636363;
    -fx-text-fill: #fff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;

}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #bebebe;
}

.tab .tab-label {
    -fx-text-fill: #828282;
}

.tab:selected .tab-label {
    -fx-text-fill: #5a5242;
}
