/*https://docs.oracle.com/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html*/


body {
    /* font-family: RobotoDraft, 'Helvetica Neue';*/
    -fx-font-family: "Calibri";
}

.tag-bar {
    -fx-border: none;
    -fx-spacing: 2;
    -fx-padding: 0;
    -fx-max-height: 20;
}

.tag-bar .tag {
    -fx-alignment: center;
    /* -fx-max-height: 15; */
}

#label-length {
    /* -fx-font-weight: bold;*/
}

#rating-label{
    -fx-min-width: 26;
    -fx-font-weight: bold;
}

#quickstats_label_songs{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-alignment: bottom_left;
}

#quickstats_label_songs_count{
    -fx-font-size: 3.0em;
    -fx-fit-to-height: true;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-alignment: bottom_right;
}

.progress-bar {
    /*-fx-background-radius: 10, 10, 10, 10;*/

}

.progress-bar .track {
    -fx-border-width: 2px;
    /*-fx-background-insets: 20;*/
    /*-fx-background-radius: 6, 6, 6, 6;*/
}

.progress-bar .bar {
    /*-fx-background-insets: 30, 30, 30, 30;*/
    /*-fx-background-radius: 4, 4, 4, 4;*/
}

/*this is a horizontal line inside a separator*/
.line{
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button {
    /* display: inline-block;
     position: relative;
     width: 120px;
     height: 32px;
     line-height: 32px;

     border-radius: 2px;
     margin: 20px 10px;
     transition: 0.2s;
     transition-delay: 0.2s;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/

    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0, 0, 0;
    -fx-font-size: 0.9em;
}

.button:active {
    /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
     transition-delay: 0s;*/
    -fx-font-family: "Calibri";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 7.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 7.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}


.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}